/.quarto/
.task
.cache
.uv-cache
**/*.quarto_ipynb

rapport-competences_files/
rapport_files/

img/generated/
img/ci-processus.png
img/gem-metiers-extrait.png
img/ref-metiers-opt-nc-schema-tables.png

uv.lock
rapport.tex
rapport.toc
rapport.aux
rapport.log
rapport.pdf
rapport-competences.tex
rapport-competences.toc
rapport-competences.aux
rapport-competences.log
rapport-competences.pdf
presentation.tex
presentation.toc
presentation.aux
presentation.log
presentation.pdf
presentation.nav
presentation.snm
presentation.vrb
