/.quarto/
.task
.cache
**/*.quarto_ipynb

rapport-competences_files/
rapport_files/

img/generated/
uv.lock
rapport.tex
rapport.toc
rapport.aux
rapport.log
rapport.pdf
rapport-competences.tex
rapport-competences.toc
rapport-competences.aux
rapport-competences.log
rapport-competences.pdf